<div class="fontix-nav collapsed" style="z-index: 1000;">
    <nav class="collapsed">
        <div class="burger collapsed d-flex align-items-center">

            <p class="pe-3 text-fontix-blue fw-bold m-0 menu-open">menu</p>
            <p class="pe-3 text-fontix-blue fw-bold m-0 menu-close">sluiten</p>

            <button type="button" class="btn btn-primary p-0 pt-1">
                <i class="fas fa-bars"></i>
                <i class="fas fa-close"></i>
            </button>

        </div>
        <div class="menu">
            <ul>
                @*     $1$ LOGO #1# *@
                @* </li> *@
                <li data-aos="fade-up" data-aos-delay="300">
                    <a href="/EventsAdmin/Manage">
                        <span>Events</span>
                    </a>
                </li>
                <li data-aos="fade-up" data-aos-delay="450">
                    <a href="/OrganisationsAdmin/Manage">
                        <span>Organisations</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu-bg"></div>
    </nav>
</div>