body {
    font-family: 'Poppins', sans-serif;
}

.text-fontix-blue {
    color: var(--fontix-blue);
}

.text-fontix-purple {
    color: var(--fontix-purple);
}

:root {
    --fontix-blue: #1D1B84;
    --fontix-purple: #635cff;
}

.table-alternate-fontix-blue-light tbody tr:nth-child(odd) {
    background-color: #ebf4fd;
}


/* [BEGIN] AlecIT - SELECT */
.select-wrapper {
    position: relative;
}

.select-input {
    cursor: pointer;
}

.select-dropdown-container {
    z-index: 1070;
}

.select-dropdown {
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 0;
    min-width: 100px;
    outline: 0;
    position: relative;
    transform: scaleY(0.8);
    opacity: 0;
    transition: all 0.2s;
}

.select-dropdown.open {
    transform: scaleY(1);
    opacity: 1;
}

.select-options-wrapper {
    overflow-y: auto;
    max-height: 190px;
}

.select-options-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.select-option {
    height: 38px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.87);
    padding-left: 16px;
    padding-right: 16px;
    font-size: 1rem;
    font-weight: 400;
    background-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.select-option:hover:not(.disabled) {
    background-color: rgba(0, 0, 0, 0.048);
}

.select-option.selected.active {
    background-color: rgba(0, 0, 0, 0.048);
}

.select-option.selected {
    background-color: rgba(0, 0, 0, 0.02);
}

.select-option.active {
    background-color: rgba(0, 0, 0, 0.048);
}

/* [END] AlecIT - SELECT */

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    /*padding-bottom: 315px;    !* Footer height *!*/
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}


.form-outline .form-control.always-active ~ .form-label {
    transform: translateY(-1rem) translateY(.1rem) scale(.8);
}


/* [BEGIN] AlecIT - NAV */
.fontix-nav {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    width: 100vw;
    height: 100px;
    position: fixed;
    z-index: 9999;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
}

@media (min-width: 992px) {
    .fontix-nav {
        margin-bottom: 0;
        padding-left: 0;
    }
}

.fontix-nav.collapsed {
    right: 0rem;
    top: 0rem;
    width: 100px;
    overflow: visible;
    transition: right 1s ease-in-out 0s, width 1s ease-in-out 0s, transform 1s ease-in-out 0s;
}

.fontix-nav.expanded {
    /*width: 100vw;*/
    transition: right 1s ease-in-out 0s, width 0s ease-in-out 0s, transform 1s ease-in-out 0s;
}

.fontix-nav nav {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    /*overflow: hidden;*/
}

.fontix-nav nav .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fontix-nav nav .menu .logo {
    /* margin-left: 0%; */
    position: absolute;
    left: 1rem;
    top: 1rem;
    opacity: 0.5;
}

.fontix-nav nav .menu .logo img {
    position: relative;
    top: 25px;
    height: 65px;
}

.fontix-nav nav .menu .logo svg {
    color: white;
    height: 60px;
    max-width: calc(100vw - 100px);
    fill: white !important;
}

.fontix-nav nav .menu .logo svg path {
    fill: white !important;
}

.fontix-nav nav .menu ul {
    font-size: min(7vw, 3rem);
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    /*text-transform: uppercase;*/
    font-weight: 900;
}

.fontix-nav nav .menu ul li a {
    color: #fff;
}

.fontix-nav nav .menu ul li a:hover {
    color: #001c12;
}

.fontix-nav nav .menu-bg {
    background: var(--fontix-blue);
    display: inline-block;
    /*border-radius: 100%;*/
    position: absolute;
    z-index: 11;
    width: 50px;
    height: 50px;
    /*min-height: 160px;*/
    right: 50px;
    top: 50px;
    transform: translate(0%, -0%);
    /*transform: translate(45%, -45%);*/
    transition: all 0.8s ease-in-out, transform 1s ease-in-out 0.3s, width 0.8s ease-in-out, border-radius 0.8s ease-in-out 0s;
    -webkit-transition: all 0.8s ease-in-out, transform 1s ease-in-out 0.3s, width 0.8s ease-in-out, border-radius 0.8s ease-in-out 0s;
    /*-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 13% 92%);*/
    /*clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 13% 92%);*/
    border-radius: .5rem;
}

.fontix-nav nav .burger {
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 16;
    overflow: hidden;
    cursor: pointer;
}

.fontix-nav nav .burger span {
    font-size: 3rem;
    color: white;
    padding: 1rem;
}

.fontix-nav nav .burger.expanded ~ .menu {
    opacity: 1;
    transition: opacity 0.5s ease 0.5s;
    pointer-events: auto;
}


.fontix-nav nav .burger p {
    transition: all 0.8s ease-in-out 0s;
}

.fontix-nav nav .burger button {
    width: 50px;
    height: 50px;
    border-radius: .5rem;
    font-size: 1.6rem;
}

.fontix-nav nav .burger.expanded p {
    color: #FFFFFF;
}

.fontix-nav nav .burger.expanded ~ .menu-bg {
    width: 500vw;
    /*min-height: 900px;*/
    height: 300vh;
    top: 0;
    right: 0;
    border-radius: 0rem;
    transition: all 0.8s ease-in-out, transform 1s ease-in-out 0.3s, width 0.8s ease-in-out, border-radius 0.8s ease-in-out 0.5s;
    -webkit-transition: all 0.8s ease-in-out, transform 1s ease-in-out 0.3s, width 0.8s ease-in-out, border-radius 0.8s ease-in-out 0.5s;
    /* transform: translate(50%, -50%); */
}

/* [END] AlecIT - NAV */